html {
	height: 100%;	
	background:#FFF;
	color:#000;
	font: 12px tahoma, verdana, arial, sans-serif;
}

body{
	height: 100%;
	margin:0;
}

#logo{ 

	width: 150px; 
	height: 150px;

}


#header{
	position: absolute;
	width: 100%;
	height: 60px;
	background: #0A71C5;
	z-index: 1;
}
#here{
	display: block;
	position: absolute;
	height: 70px;
	background: #0a4e89;
	z-index: -1;
}

#header ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#header li{
	display: inline-block;
}

#header li:not(:last-child):after{
	content: "●";
	font-size: 18px;
	color: #fff;
}

#header li a{
	line-height: 60px;
	padding: 0 30px;
	color: #FFF;
	text-decoration: none;
	font-size: 18px;
}

#header li a:hover{
	color: #9dcdf6;
}

#contener {
	min-height: 100%;
	width: 100%;
	min-width: 800px;
	margin: 0;
	padding: 0;
	position: relative;
	background: #E6E6E6;
}
#main{
	min-height: calc(100% - 60px);
	padding: 60px 0 0;
	margin: 0 0 -60px;
	width: calc(100% - 200px);
}
#right{
	float: right;
	padding-top: 60px;
	width: 200px;
}
#left{
	display:block;
	min-height: calc(100vh - 140px);
	padding-bottom: 80px;
	background: #fff;
}

#down{
	clear: both;
}	

#footer{
	height: 60px; 
	margin:0;
	background: #E6E6E6;
}

#footer #logo{
	text-align: center;
	line-height: 60px;
	color: #FFF;
	font-size: 12px;
	width: calc(100% - 200px) ;
	background: RGB(33,33,33);
}

#last-add-p, #list-shop-p, #div_wysz_wpr, #div_wysz_zn{
	margin-left: 20px;
	margin-top: 30px;
	font-size: 18px;
	text-transform: uppercase;
}
#last-add-p:first-letter, 
#list-shop-p:first-letter,
#div_wysz_wpr:first-letter,
#div_wysz_zn:first-letter{
	font-size: 150%;
}

.err, .info {
    color: #fff;
    font-size: 12px;
    padding: 10px 20px;
    position: relative;
    top: 70px;
    z-index: 100;
}

.err {
    background-color: #a00;
}

.info {
    background-color: #0a0;
}

.err:after, .info:after {
    content: 'x';
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.err:hover, .info:hover {
    cursor: pointer;
}

.twoj_produkt {
    background-color: #0A71C5;
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    right: 20px;
    top: 12px;
}

#last-add td {
    position: relative;
}

.ocena_prod {
    font-size: 14px;
    position: absolute;
    top: 28px;
}

.ocena_prod img{
    padding: 0 !important;
}

FORM#GW1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

FORM#GW2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

FORM#GW3 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

FORM#GW4 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

FORM#GW5 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.category_product{
	font-size: 15px;
	text-transform: uppercase;
	color: #a9a9a9;
}

.gw1 {
    height: 25px !important;
    width: 25px !important;
}

.gw2 {
    height: 25px !important;
    width: 50px !important;
}

.gw3 {
    height: 25px !important;
    width: 75px !important;
}

.gw4 {
    height: 25px !important;
    width: 100px !important;
}

.gw5 {
    height: 25px !important;
    width: 125px !important;
}