#last-add {
	margin-left: 20px;
	margin-top: 20px;
	width: calc(100% - 50px);
	border-collapse: separate;
	border-spacing: 0 0;
	font-family: tahoma, verdana, arial, sans-serif;
	border-top: 1px solid #a9a9a9;
}

.time{
	padding: 20px 20px 0 0;
	font-size: 18px;
	color: #a9a9a9;
	height: 1px;
	border-right: 1px solid #a9a9a9;
}
.photo{
	width: 1px;
	height: 1px;
	border-bottom: 1px solid #a9a9a9;
	border-left: 1px solid #a9a9a9;
}
img{
	width: 200px; 	
	height: 200px;
	padding: 20px;
}
.price{
	border-right: 1px solid #a9a9a9;
	padding-right:20px;
	height: 1px;
	font-size: 35px;
	text-align: right;	
	vertical-align: top;
}
.price:after{
	content: " zł";
}

.product-name{
	vertical-align: bottom;
	text-transform: uppercase;
	font-size: 20px;
	padding: 0 20px 0 0;
}
.shop{
	padding: 5px 20px 0 0;
	vertical-align: top;
	font-size: 16px;
	text-transform: uppercase;
	height: 1px;
}
.produkt-title {
	border-bottom: 1px solid #a9a9a9;
	padding: 5px 20px 20px 0;
	vertical-align: top;
	font-size: 14px;
}
.button_dodaj{
	text-align: right;
	width: 250px;
	padding-right: 20px;
	padding-top: 20px;
	border-right: 1px solid #a9a9a9;
	vertical-align: middle;
}
.button_skomentuj{
	text-align: right;
	width: 250px;
	padding-right: 20px;
	vertical-align: top;	
	border-right: 1px solid #a9a9a9;
	border-bottom: 1px solid #a9a9a9;
}

.button_d{
	background: RGB(140,0,20);
	font-size: 12px;
	width: 150px;
	height: 30px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	border: none;
}
.button_edit{
	margin-bottom: 2px;
}
.button_jest{
	background: #edf344;
	font-size: 12px;
	width: 150px;
	height: 30px;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	border: none;
}
.button_d:first-letter{
	font-size: 150%;
}
.button_d:hover{
	background:  #F00;
}


